body {
  padding: 100px;
}

body {
  font-family: Georgia, serif;
  line-height: 25px;
  width: 90%;
  margin:0 px auto;
  background: url("https://www.teahub.io/photos/full/4-40067_harry-potter-pottermore-explore-hogwarts-s-wallpaper-minimalist.jpg");
}


.class {
  width: fit-content;
  height: 300px;
}

h1#main-heading {
  font-weight: normal;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 33px;
  margin-bottom: 12px;
}

h2.intro {
  text-align: center;
  margin-top:0px;
  margin-bottom: 65px;
  letter-spacing: 1px;
  font-style: italic;
  color:rgba(86, 47, 99, 0.808);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  text-align: center;
  font-weight: normal;
  letter-spacing: 3px;
  border-bottom: double;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

h3.menu-info {
  margin: 0 auto;
  margin-bottom: 20px;
}


h2#menu-title {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

.cost {
 color: rgb(145, 143, 143);
 font-weight: 100;
}

ul{
  text-align: center;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 30px;
}

ul li{
  margin-bottom: 27px;
}

img{max-width:100%;}

.addition {
  font-style:italic;
  display:block;
  color: rgba(86, 47, 99, 0.808);
  line-height: 15px;
}


ul {
line-height:18px;
margin-top: 30px;

}

.ornament {
  color:rgba(41, 32, 49, 0.603);
}

#menu {
 background-color: rgba(209, 195, 195, 0.945);
 padding: 12px 42px;
 border: 10px solid rgba(39, 1, 39, 0.671);
 /* width: 750px; */
}

/* #menu-background {
  background: url(https://www.wallpaperboulevard.com/Images/product/harry-potter-house-crest-wallpaper-gpzn-l.jpg);
  padding: 30px 50px;
  margin: 40 px 0;
} */

img.mainpic {
  margin-bottom: 0px;
  /* max-width: 100%; */
}

#cheers{
  margin-bottom: 1em;
  position: relative;
}

#titles {
  float: right;
  margin: 10em 5% 0;
  width: 32%;
}

#menu-background {
  float: left;
  padding: 2.5%;
  width: 58%;
}

p {margin:0px;}

p#welcome{
  font-style: normal;
  font-family: Georgia;
  float: right;
  width: 100 px;
  margin-left: 15px;
  color: rgb(42, 3, 46);
  text-align:center;
  font-weight:600;
  font-size: 16px;
}

#wallpaper {
  border-bottom: 2px solid rgba(209, 195, 195, 0.945);
  height: 300px;
  right:0;
  margin-bottom: 0;
  overflow: hidden;
  position: absolute;
  top:0;
  width:100%;
  z-index: -1;
}

#wallpaper img{
  margin-top: -145px;
  max-width:none;
  width: 100%;
}

#menu {
  box-shadow: 0 0 10px rgba(209, 195, 195, 0.945);
}

h1#main-heading {
  font-size:33px;
  text-align: center;
  line-height: 40px;
  text-shadow: 0 0 10 px rgb(22, 1, 1);
  color:rgb(218, 193, 235)
}

h2.intro {
  font-size: italic;
  text-align: center;
}

#welcome {
  text-align: justify;
}

/* incorporating pictures with hover */

.pumpkin:hover {
  position: relative;
}
.pumpkin:hover:after {
  content: url("pasties4.png");
  display: block;
  position: absolute;
  left: 150px;
  top: 60px;
}

.fudge:hover {
  position: relative;
}
.fudge:hover:after {
  content: url("fudge2.jfif");
  display: block;
  position: absolute;
  left: 180px;
  top: 35px;
}

.lambstew:hover {
  position: relative;
}
.lambstew:hover:after {
  content: url("lamb-stew2.jfif");
  display: block;
  position: absolute;
  left: 132px;
  top: 40px;
}

.butterbeer:hover {
  position: relative;
}
.butterbeer:hover:after {
  content: url("butterbeer2.jfif");
  display: block;
  position: absolute;
  left: 150px;
  top: 50px;
}

.ribroast:hover {
  position: relative;
}
.ribroast:hover:after {
  content: url("ribroast2.jfif");
  display: block;
  position: absolute;
  left: 165px;
  top: 40px;
}
